body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#loading {
    width: 100%;
    text-align: center;
    display: block;
}
#loading img {
    width: 36px;
    height: 36px;
}

.airport {
    font-weight: bold;
    font-size: larger;
}

table, tr, th, td {
    vertical-align: top;
}

table {
    border-spacing: 0;
}